body,
* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* Navbar */
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(41, 41, 41);
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.5);
}
.navbar-link {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.navbar-link:hover {
  text-decoration: underline;
  color: white;
}

/* Home page */
.front-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page-background {
  width: 100%;
  height: 95vh;
  z-index: -1;
  background-image: url("./blog-frontcover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-background > h1 {
  font-weight: 1000;
  color: white;
  font-size: 130px;
  text-align: center;
  padding: 10px;
  font-family: "Lalita One";
}
.new-section {
  background-color: rgb(41, 41, 41);
  color: white;
  width: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
@media (max-width: 600px) {
  .home-page-background > h1 {
    font-size: 80px;
  }
}

/*Visits section */
.front-page-visits {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  padding: 50px;
  padding-bottom: 70px;
}

.blog-one-visit-cell,
.blog-two-visit-cell,
.blog-three-visit-cell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.7);
}

.blog-one-visit-cell:hover,
.blog-two-visit-cell:hover,
.blog-three-visit-cell:hover {
  transform: scale(0.99);
}
.blog-two-visit-cell {
  margin-top: 0px;
}
.front-page-blogone-img,
.front-page-blogtwo-img,
.front-page-blogthree-img {
  max-height: 650px;
  width: 100%;
  object-fit: cover;
}
.frontpage-blog-info-container {
  padding: 20px 20px 30px 20px;
  text-align: center;
}
.frontpage-blog-info-container > p {
  font-family: "Roboto Flex";
}

.frontpage-blog-info-container > button {
  margin-top: 20px;
  width: 70%;
  padding: 12px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: rgb(41, 41, 41);
}
.frontpage-blog-info-container > button:hover {
  cursor: pointer;
}
.blog-one-heading,
.blog-two-heading,
.blog-three-heading {
  font-size: 24px;
  font-family: "Acme";
  margin-top: 15px;
}
@media (max-width: 1200px) {
  .front-page-visits {
    margin-top: 20px;
    gap: 15px;
    padding: 20px;
    padding-bottom: 40px;
  }

  .blog-one-visit-cell,
  .blog-two-visit-cell,
  .blog-three-visit-cell {
    margin-top: 0px;
  }
}
@media (max-width: 1000px) {
  .front-page-visits {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
  }
  .blog-one-visit-cell,
  .blog-two-visit-cell,
  .blog-three-visit-cell {
    max-width: 800px;
  }
  .front-page-blogone-img,
  .front-page-blogtwo-img,
  .front-page-blogthree-img {
    max-height: 700px;
  }
}

/*About section */
.about-section {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  width: 100%;
  padding: 50px;
  gap: 15px;
  align-items: center;
}
.about-img {
  background-image: url("./about-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 700px;
}
.about-desc {
  font-size: 60px;
  color: rgb(41, 41, 41);
  font-weight: bold;
  width: 100%;
  text-align: center;
}

@media (max-width: 1200px) {
  .about-desc {
    font-size: 50px;
  }
}
@media (max-width: 900px) {
  .about-desc {
    font-size: 40px;
  }
  .writer-section-container > p {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .about-section {
    flex-direction: column;
  }
  .about-desc {
    font-size: 30px;
  }
}
/*Writer Section */
.writer-section-container {
  display: flex;
}
.writer-section-container > p {
  font-size: 20px;
  padding: 40px 20px 40px 20px;
  color: rgb(41, 41, 41);

  width: 100%;
  text-align: center;
}
/* Blog View */

.blog-container {
  display: flex;
  flex-direction: column;
  padding: 0px 200px 40px 200px;

  background-image: url("./b-background.jpg");

  background-position: center;
}

.blog-title {
  padding: 50px 0px 5px 0px;
  margin: 0;
  font-family: "Acme";
}
.blog-author {
  font-size: 18px;
  font-weight: 500;
}

.blog-date {
  padding-bottom: 20px;
  margin: 0;
}
.blog-image {
  width: 100%;
  object-fit: cover;
  max-height: 600px;
  margin-bottom: 50px;
}
.blog-paragraph {
  margin-top: 40px;
  padding: 10px 0px 10px 0px;
  margin: 0;
  font-size: 22px;
  word-wrap: break-word; /* Add this to allow long words to break */
  overflow-wrap: break-word;
  font-family: "Indie Flower", "Roboto Flex";
}
@media (max-width: 1200px) {
  .blog-container {
    padding: 0px 125px 30px 125px;
  }
}
@media (max-width: 700px) {
  .blog-container {
    padding: 0px 40px 20px 40px;
  }
}

/* Article view */

.article-container {
  box-sizing: border-box;

  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background-image: url("./article-background.jpg");

  background-repeat: repeat;
  width: 100%;
  min-height: 98vh;
}

.blog-article-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  background-color: rgb(222, 223, 219);
  width: 100%;
  max-width: 800px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5);

  border-radius: 30px;
}
.blog-article-container:hover {
  transform: scale(0.99);
}
.article-image {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}
.blog-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}
.blog-info-heading {
  font-size: 22px;

  text-decoration: none;
  padding-bottom: 5px;
  text-align: start;
  font-family: "Acme";
  width: 100%;
}
.blog-info-date {
  padding-top: 15px;
  font-weight: bold;
}

@media (max-width: 800px) {
  .blog-article-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
  }
  .article-image {
    width: 100%;
    max-height: 400px;
    max-width: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .blog-info {
    box-sizing: border-box;
    padding: 20px;

    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
/*Comments */
.comments-section-container {
  background-color: whitesmoke;
}
.comments-heading {
  text-align: center;
  padding: 40px;
}
.comments-success {
  text-align: center;
  color: rgb(34, 238, 34);
  margin-bottom: 10px;
}

.comments-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comments-form > label {
  font-weight: bold;
}
.comments-form > input,
.comments-form > textarea {
  padding: 10px;
  text-align: center;
  margin-top: 5px;
  max-width: 600px;
  width: 80%;
  margin-bottom: 5px;
  border: 1px solid grey;
  background-color: whitesmoke;
}
.comments-form > button {
  width: 100px;
  padding: 10px;
  font-weight: bold;
}
.comments-form > button:hover {
  cursor: pointer;
}
.comments-h {
  margin-bottom: 0;
  padding-bottom: 10px;
}
.comments-list {
  text-decoration: none;

  width: 100%;
  list-style: none;
  padding: 40px;
  padding-left: 180px;
  margin: 0;
  margin-top: 10px;
  align-self: flex-start;
  box-sizing: border-box;
}
.comment-list-item {
  margin-top: 20px;
  width: 80%;
  border-bottom: 1px solid black;
}

.comment-list-item-content {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  font-family: "Indie Flower", "Roboto Flex";
}

.comments-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.load-btn {
  width: 150px;
  padding: 10px;
  font-weight: bold;
}
.load-btn:hover {
  cursor: pointer;
}
@media (max-width: 800px) {
  .comments-list {
    padding: 0px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }
}

/* Footer */

footer {
  padding: 40px;
  width: 100%;
  background-color: rgb(163, 161, 153);
  box-sizing: border-box;
}
footer > h3 {
  text-align: center;

  font-weight: bold;
  font-size: 30px;
}

.contacts {
  text-align: center;
  display: flex;
  gap: 5px;
  font-size: 20px;
  justify-content: center;
  padding: 10px;
}
.contacts > svg {
  background-color: rgb(163, 161, 153);
  color: white;
}
